* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #ff7e5f;
    --primary-color-dark: #eb5e41;
    --primary-color-light: #ffb199;
    --secondary-color: #0ba360;
    --input-bg: #9b9b9b;
    --text-color-dark: #333333;
    --text-color-grey: #9b9b9b;
    --text-color-light: #f8f9fa;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --bg-color-light: #f8f9fa; 
    --bg-color: #ffffff;
    --card-bg: #ffffff;
    --transition: all 0.3s ease;
}

@media (prefers-color-scheme: dark){
    :root {
        --primary-color: #ff7e5f;
        --primary-color-dark: #eb5e41;
        --primary-color-light: #ffb199;
        --secondary-color: #0ba360;
        --input-bg: #9b9b9b;
        --text-color-light: #333333;
        --text-color-grey: #9b9b9b;
        --text-color-dark: #f8f9fa;
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        --bg-color-light: #f8f9fa; 
        --bg-color: #1a1a1a;
        --card-bg: #242424;
        --transition: all 0.3s ease;
    }
}

html {
    font-size: 62.5%;
    color-scheme: dark light ;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color-dark);
    padding: 2rem;
    font-size: 1.5rem;
}

/*theme-switch toggle  */
.toggle_container {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

/* Hide the checkbox */
input[type="checkbox"] {
    display: none;
}

.btn {
    background-color: #d2d2d2;
    height: 25px;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px   var(--primary-color-light);
    transition: background-color 0.3s ease;
}

.btn::before {
    position: absolute;
    content: '◐';
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    top: 1.2px;
    left: 1.2px;
    transition: transform 0.3s ease; /* FIXED */
}

/* When checked */
input:checked {
    color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
}

/* input:checked + .btn {
    background-color: #20096d;
} */

input:checked + .btn::before {
    color: #fff;
    background-color: #000;
    transform: translateX(24px);
}

/* Use the two selectors below if you want the JS version */
[data-theme="light"] {
    color-scheme: light;
    --primary-color: #ff7e5f;
    --primary-color-dark: #eb5e41;
    --primary-color-light: #ffb199;
    --secondary-color: #0ba360;
    --input-bg: #9b9b9b;
    --text-color-dark: #333333;
    --text-color-grey: #9b9b9b;
    --text-color-light: #f8f9fa;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --bg-color-light: #f8f9fa; 
    --bg-color: #ffffff;
    --card-bg: #ffffff;
    --transition: all 0.3s ease;
}

[data-theme="dark"] {
    color-scheme: dark;
    --primary-color: #ff7e5f;
    --primary-color-dark: #eb5e41;
    --primary-color-light: #ffb199;
    --secondary-color: #0ba360;
    --input-bg: #9b9b9b;
    --text-color-light: #333333;
    --text-color-grey: #9b9b9b;
    --text-color-dark: #f8f9fa;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --bg-color-light: #f8f9fa; 
    --bg-color: #1a1a1a;
    --card-bg: #242424;
    --transition: all 0.3s ease;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* Heading */
.heading {
    text-align: center;
    margin-bottom: 2rem
}

.heading h1 {
    font-size: 3rem;
    margin-bottom: 1.8rem;
    background: linear-gradient(90deg, var(--primary-color-light), var(--primary-color));
    border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.api-link {
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--text-color-dark);
    opacity: .7;
    font-size: 1.5rem;
}

.api-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

/* search container */
.search_container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    outline: none;
    display: flex;
    padding: .8rem 1.2rem;
    background-color: var(--input-bg);
    margin-bottom: 2rem;
    box-shadow: 0 4px 10px var(--primary-color-light);
}

#search_input {
    width: 100%;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding: .5rem;
}

#search_btn { 
    cursor: pointer;
    font-size: 1.8rem;
    border: none;
    border-radius: 50%;
    padding: .8rem;
    background: transparent;
    margin-right: 1rem ;
    color: var(--text-color-dark);
    transition: var(--transition);
}

#search_btn:hover {
    transform: scale(1.1);
} 

#search_btn:focus {
    transform: scale(1);
} 

#delete_btn { 
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    background: transparent;
    color: var(--text-color-dark);
    margin-left: 1rem ;
    opacity: 0;
    transition: var(--transition);
}

#delete_btn:hover {
    transform: scale(1.1);
} 

#delete_btn:focus {
    transform: scale(1);
} 

.search_container:hover #delete_btn{
    opacity: 1;
} 

/* result heading */
#result_heading {
    text-align: center;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    color: var(--text-color-dark);
}

/* meals */
.meal-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.meal {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.meal:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.meal img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.meal-info {
    padding: 1rem;
}

.meal-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .8rem;
    color: var(--text-color-dark);
}

.meal-category {
    display: inline-block;
    background-color: var(--primary-color-light);
    color: var(--text-color-dark);
    padding: 3px 8px;
    font-size: .8rem;
    border-radius: 8px;
    margin-bottom: .8rem;
}

/* meal-details */
#meal-details {
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 10px 20px var(--primary-color-light);
    animation: fadeIn 0.5s ease-in;  
}

.back-btn{
    font-size: 1.5rem;
    font-weight: bold;
    background: transparent;
    color: var(--text-color-dark);
    border: none;
    cursor: pointer;
    opacity: .5;
    transition: all 0.2s ease;
}

.back-btn::before{
    content: '⟪';
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.back-btn:hover{
    opacity: 1;
}

.back-btn:hover::before{
    transform: translateX(-5px);
}

.back-btn:active::before{
    transform: translateX(0);
}

#meals-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meal-details-img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.meal-details-title {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
    text-align: center;
}

.meal-details-category {
    margin-bottom: 1rem;
    text-align: center;
}

.meal-details-category span {
    background-color: var(--primary-color-light);
    padding: .4rem 1.2rem;
    border-radius: 2rem;
    font-size: 1.4rem;
}

.meal-details-instructions {
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.meal-details-instructions h3{
    margin-bottom: .5rem;
}

.ingredients-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
    margin-bottom: 1.5rem;
    width: 100%;
}

.ingredients-list li {
    display: flex;
    align-items: center;
    padding: .6rem 1rem;
    background-color: var(--bg-color-light);
    color: var(--primary-color-dark);
    border-radius: 8px;
    font-size: 1rem;
}
.ingredients-list li i {
    color: var(--secondary-color);
    margin-right: .8rem;
}

.yt-link {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    padding: .8rem 1.5rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1rem;
}

.yt-link i {
    margin-right: .5rem;
}

#error-container {
    background-color: rgba(255, 126, 95, 0.1);
    border: 1px solid var(--primary-color);
    color: var(--primary-color-dark);
    padding: 1rem;
    border-radius: 28px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto 1.5rem;
    animation: fadeIn 0.5s ease-in-out;   
    transition: all 0.5s ease-in-out; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    30% {
        opacity: 0.3;
        transform: translateY(-15px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    70% {
        opacity: 0.7;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px){
    .meals-container {
        grid-template-columns: 1fr;
    }

    .meal-details-img {
        max-width: 100%;
    }
    
    .ingredients-list {
        grid-template-columns: 1fr;
    }
}
